.three {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.three__span-list {
  display: flex;
  flex-wrap: wrap;
}

.three__span-list > span {
  padding: 2px 7px;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  margin: 5px;
  border-radius: 50px;
}

.three__text {
  font-size: 25px;
  width: 40%;
  color: rgba(255, 255, 255, 0.7);
}

.three__text > span {
  text-decoration: underline;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 750px) {
  .three {
    flex-direction: column;
  }
  .three__span-list {
    width: 100%;
  }
  .three__text {
    width: 100%;
    margin: 10px 0;
  }
}
