@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: #839292;
  --yellow: #dfb921;
  --purple: #9a82c2;
  --inter: "Inter", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--inter);
  background-color: black;
  color: white;
}

.App {
  padding: 0 20px;
  padding-top: 15px;
}

@media screen and (max-width: 600px) {
  .App {
    padding: 0 10px;
  }
}
